@CHARSET "ISO-8859-1";

html, body {
  background-color: #FFFFFF;
  font-family: arial,helvetica;
}

#tetrisModel {

}

#singleGameModel {
  width: 25em;
  float: left;
  margin-bottom: 2em;
}

#tetrisGrid td, #nextBlock td {
  width: 1.1em;
  height: 1.1em;
  border: 1px solid black;
}

#score {
	margin-bottom:1em;
	float:right;
	clear:right;
  text-align:left;
	width:7em;
}

#nextBlock {
	margin-bottom:1em;
	float:right;
}

table {
  border-spacing: 0;
}

hr {
  clear:left;
}

.controlGameButtons {
  clear:left;
}

.squareType0 {
  /*Background*/
  background-color: #000000;
}

.squareType1 {
  /*I-Block*/
  background-color: #00ffff;
}

.squareType2 {
  /*O-Block*/
  background-color: #ffff00;
}

.squareType3 {
  /*L-Block*/
  background-color: #ffc800;
}

.squareType4 {
  /*J-Block*/
  background-color: #0000ff;
}

.squareType5 {
  /*Z-Block*/
  background-color: #ff0000;
}

.squareType6 {
  /*S-Block*/
  background-color: #00ff00;
}

.squareType7 {
  /*T-Block*/
  background-color: #a000ff;
}

.squareType8 {
  /*pnealty lines*/
  background-color: #C9C9C9;
}

.squareType9 {
  /*game over color 1*/
  background-color: #BFBFBF;
}

.squareType10 {
    /*game over color 2*/
  background-color: #858585;
}

